@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "pretendard-Regular";
}

h1 {
  font-size: 3.333vw;
}

a {
  text-decoration: none;
  color: #f0f2f2;
}
li {
  color: #f0f2f2;
  list-style: none;
}

.contents {
  width: 80%;
  margin: 0 auto;
}

/* 메인 컨텐츠 시작 - 메인 이미지 */

#main .mainImg {
  background: url("../images/main/main_sm.jpg");
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
 /* 타이핑 css */
.typing {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8rem;
}

.text {
  color: #f0f2f2;
  font-weight: bold;
  font-size: 3rem;
  margin-left: .6rem;
}

.text::after {
  content: '';
  margin-left: .4rem;
  border-right: 2px solid #777;
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}


/* 메인 컨텐츠 시작 - 행사 */
#events {
  padding-top: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 240px;
}

#events .titleBox {
  align-items: end;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#events .titleBox h1 {
  font-size: 3.333vw;
  margin: 0 20px 20px 0;
}

#events .titleBox h4 {
  margin: 20px 0;
  font-weight: lighter;
}

#events .swiper h4 {
  margin: 20px 0;
}

/* #events .imgBox {
  margin: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#events .imgBox div {
  display: flex;
  width: 30%;
  height: 480px;
  flex-direction: column;
}

#events .imgBox div img {
  width: 100%;
}

#events .imgBox h4 {
  margin: 20px 0;
} */
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper img {
  width: 100%;
}

/* 메인 컨텐츠 시작 - 컨텐츠 탭 메뉴 */
.about {
  position: relative;
}
.mySwiper2 {
  width: 100%;
  /* height: 100vh; */
}
.mySwiper2 swiper-slide {
  width: 100%;
  height: 85vh;
}
.mySwiper2 #swiper_about_bg1 {
  width: 100%;
  height: 85vh;
  background-image: url("../images/introduce/piano.jpg");
  background-size: cover;
  background-position: center center;
}
.mySwiper2 #swiper_about_bg2 {
  width: 100%;
  height: 85vh;
  background-image: url("../images/introduce/picnic.jpg");
  background-size: cover;
  background-position: center center;
}
.mySwiper2 #swiper_about_bg3 {
  width: 100%;
  height: 85vh;
  background-image: url("../images/introduce/ferry.jpg");
  background-size: cover;
  background-position: center center;
}
.mySwiper2 #swiper_about_bg4 {
  width: 100%;
  height: 85vh;
  background-image: url("../images/introduce/jumak.jpg");
  background-size: cover;
  background-position: center center;
}

.mySwiper {
  width: 80%;
  margin: 0 auto;
  height: 50%;
}
.mySwiper {
  position: absolute !important;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}
.about_tap {
  border-top: 8px solid #c2c2c2;
  padding-top: 1rem;
  color: #c2c2c2;
  font-size: 1.5rem;
}
.swiper-slide-thumb-active > h1 {
  border-top: 8px solid #fdf2f2;
  color: #fdf2f2;
}
.textBox {
  padding-top: 13%;
}
.textBox h1,
h3,
p {
  padding: 30px 0;
  color: #fdf2f2;
}

.textBox h1 {
  font-size: 3.333vw;
}

.textBox .button1 {
  width: 140px;
  height: 60px;
  background-color: #f2f2f2;
  color: #252525;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.4em;
}

.textBox .button1 a {
  border: 1px solid #fdf2f2;
  width: 20%;
  text-align: center;
  color: #252525;
}



/* food */
#food {
  position: relative;
  padding-top: 150px;
  display: flex;
  padding-bottom: 150px;
  width: 100%;
  justify-content: space-around;
}

#food .foodInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#food .foodInfo img {
  margin: 0 0 30px 0;
  width: 100%;
}

#food .foodInfo img:first-child {
  display: block;
}
#food .foodInfo img:last-child {
  display: none;
}

#food .foodBox {
  display: flex;
  margin: 0 auto;
}

#food .foodText {
  width: 35%;
  padding-right: 2rem;
}

#food h1 {
  margin: 0 0 40px 0;
}

#food h2 {
  font-size: 1rem;
}

#food .foodInfo div:nth-child(2) {
  padding: 0 30px 22% 30px;
  /* transform:translateY(-140px) ; */
}

#food .foodInfo h2 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

#food .foodInfo h2,
h5 {
  color: #ffffff;
  z-index: 9999;
}

.blackBox {
  width: 100%;
  height: 50%;
  background-color: #252525;
  position: absolute;
  top: 45%;
  z-index: -99;
}

#info {
  position: relative;

 
}

#info h1 {
  margin-top: 100px;
  margin-bottom: 40px;
}

#info .infoimgbox {
  width: 100%;

  margin-bottom: 100px;
}

#info img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .contents {
    width: 90%;
    margin: 0 auto;
  }

  #events {
    padding: 100px 0;
  }

  #class_wrapper .class_buttons {
    transform: translateY(40px);
  }

  /* about */
  .mySwiper {
    width: 90%;
  }

  /* food */
  #food {
    padding-bottom: 0;
  }

  #food .foodBox {
    flex-direction: column;
  }

  #food .foodText {
    width: 100%;
    display: flex;
    align-items: end;
  }
  #food .foodText h1 {
    margin: 0 20px 0 0;
  }

  #food .foodInfo {
    flex-direction: column;
    align-items: start;
  }
  #food .foodInfo img {
    margin: 0 0 20px 0;
  }

  #food .foodInfo img:first-child {
    display: none;
  }
  #food .foodInfo img:last-child {
    display: block;
  }

  #food .foodInfo div:nth-child(2) {
    padding: 0 0px;
    transform: translateY(0px);
  }
  #food .foodInfo > div {
    width: 100%;
    padding: 50px 0;
  }

  #food .foodInfo h2,
  h5 {
    color: #252525;
    z-index: 9999;
  }

  .blackBox {
    display: none;
  }

  #info .infoimgbox {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  #events .titleBox h1 {
    margin: 20px 20px 20px 0;
  }

  .mySwiper {
    top: 80%;
  }
}
