@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "pretendard-Regular";
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  /* color: black; */
}
li {
  color: #f0f2f2;
  list-style: none;
}
button {
  border-width: 0;
}

.contents {
  width: 80%;
  margin: 0 auto;
}

/* 메인이미지 */
#darkImg div img {
  width: 100%;
  height: 35%;
  object-fit: cover;
}

section > h1 {
  font-size: 3rem;
  margin: 30px 0;
}

#darkImg {
  position: relative;
}

#darkImg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f2f2;
}

h1 {
  text-align: center;
}

/* 탭 */
.contents_bg {
  width: 100%;
  position: relative;
  transform: translateY(-4px);
  margin-bottom: 50px;
}
.class_buttons {
  position: relative;
}

.class_buttons::after {
  content: "";
  background-color: #252525;
  width: 858.4%;
  height: 100%;
  position: absolute;
  left: -600%;
  z-index: -9;
}

#class_wrapper label {
  width: 100%;
  height: 100%;
  background-color: #252525;
  text-align: center;
  cursor: pointer;
  
}

#class_wrapper label h1 {
  padding: 30px 40px;
  font-size: 1.25rem;
  color: #c2c2c2;
}

#class_wrapper .class_buttons {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#class_wrapper .wrapper input {
  display: none;
}

#class_wrapper .wrapper input ~ div {
  display: none;
}

#class_wrapper #class_tab input:nth-of-type(1):checked ~ div:nth-of-type(1) {
  display: block;
}

#class_wrapper #class_tab input:nth-of-type(2):checked ~ div:nth-of-type(2) {
  display: block;
}

#class_tab input:nth-of-type(1):checked ~ section label:nth-child(1) {
  background-color: #fff;
}

#class_tab input:nth-of-type(2):checked ~ section label:nth-child(2) {
  background-color: #fff;
}
#class_tab input:nth-of-type(1):checked ~ section label:nth-child(1) h1 {
  color: #252525;
}

#class_tab input:nth-of-type(2):checked ~ section label:nth-child(2) h1 {
  color: #252525;
}

/* 예약 */
.re_h1 {
  text-align: center;
  margin: 50px 0;
}
.brownline {
  border-bottom: 2px solid #a68051;
  margin: 0 auto;
  width: 100%;
}
.class_tab_item > h2 {
  margin: 50px 0;
  text-align: center;
  font-size: 2rem;
}

/*  */
.sec3 {
  margin-top: 50px;
  padding: 100px;
}
.booking_area {
  /*.check_availability 클릭 시 오픈*/
  display: block;
  border: 1px solid #937549;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: initial;
}
.booking {
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #937549;
  background-color: #fff;
}
.booking_center_area {
  width: 700px;
  margin: 50px auto 0;
}
.booking_center_area h2 {
  font-size: 18px;
  color: #937549;
}

/* 객실/성인/소아 */
.guest {
  padding: 20px 10px 30px;
  box-sizing: border-box;
  border-top: 1px solid #937549;
  border-bottom: 1px solid #937549;
  width: 100%;
  height: 100%;
}
.guest div {
  margin: 0;
  display: inline-block;
  width: 33.333%;
  height: 150px;
  padding: 20px;
  text-align: center;
}
.guest div h3 {
  font-size: 22px;
}
.guest div button {
  background: transparent;
  border: 2px solid #937549;
  padding: 0 4px;
  font-size: 16px;
  color: #937549;
  vertical-align: sub;
  cursor: pointer;
}
.guest div span {
  padding: 20px;
  font-size: 40px;
  vertical-align: middle;
}
.child {
  position: relative;
}
.child h3 {
  margin-left: 10px;
}
.child ion-icon {
  cursor: pointer;
}
.child img {
  max-width: 200px;
  position: absolute;
  top: -62px;
  right: -112px;
  display: none;
}
.reserve-select {
  display: block;
  border-top: 1px solid #a68051;
  border-bottom: 1px solid #a68051;
  padding: 50px 0;
  text-align: center;
}
.reserve-select.active {
  display: block;
}
.reserve-select h2 {
  padding: 20px 0 50px 0;
}
.time-select {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.select-time {
  border-radius: 5px;
  width: 10%;
  padding: 5px 0;
  transition: 0.3s;
  cursor: pointer;
}
.select-time.select {
  background-color: #a68051;
  color: white;
}
.reserve-select img{
  width: 50%;
}
.select-reserve-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-reserve-box > div {
  width: 100%;
  display: flex;
  justify-self: start;
}
.select-reserve-box div span {
  display: inline-block;
  width: 9% !important;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.select-reserve-box div span.ck_active {
  color: #f4f2f0;
}
.select-reserve-box div span.ck_active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 36%;
  width: 30%;
  height: 100%;
  background-color: #a68051;
  border-radius: 50%;
  transition: 0.3s;
  z-index: -5;
}

/* 체크 버튼 */
.check {
  border-top: 1px solid #937549;
  margin-top: 5px;
  width: 100%;
  height: 300px;
  position: relative;
}
.check button {
  border: 2px solid #937549;
  background: #f4f2f0;
  padding: 20px 50px;
  box-shadow: 2px 3px 8px #888;
  margin: 100px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.reserve-submit {
  cursor: pointer;
  width: 30% !important;
}

.box {
  display: none !important;
}
.check button:hover {
  background-color: #937549;
}
.check button a {
  font-size: 20px;
  letter-spacing: 3px;
  color: #937549;
  font-weight: 400;
}
.check button:hover a {
  color: #fff;
}

@media screen and (max-width: 1020px) {
  .select-reserve-box div span.ck_active::after {
    left: 20%;
    width: 60%;
  }
}

@media screen and (max-width: 625px) {
  #class_wrapper label h1 {
    padding: 10px 20px;
    font-size: 1.25rem;
    color: #c2c2c2;
  }

  .select-reserve-box div span.ck_active::after {
    left: 10%;
    width: 80%;
  }
}
