@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "pretendard-Regular";
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #f0f2f2;
}
li {
  list-style: none;
}

.contents {
  width: 80%;
  margin: 0 auto;
}

fieldset {
  border: none;
}

input {
  border: none;
}

button {
  border: none;
}
/* 섹션 로그인 */

#background {
  background-image: url("/images/login/loginbackground.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#login {
  width: 30%;
  height: 100vh;
  padding-top: 220px;
  text-align: center;
}

#login form {
  margin: 0 auto;
  width: 100%;
}

#login h1 {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#login > div {
  width: 100%;
  border-bottom: 2px solid #a68051;
}

#login .bigBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonbox {
  display: flex;
}

#login .inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.idcheck {
  background-color: gray;
  color: #f0f2f2;
  border-radius: 7px;
  padding: 2% 1%;
  text-align: center !important;
  position: absolute;
  right: 8px;
  top: 15px;
}

#login .textBox {
  margin: 10px 0;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f2f2;
}
.email_wrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email_textBox {
  width: 45%;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f2f2;
}

#login button {
  margin: 10px 0 0 10px;
  width: 48%;
  height: 60px;
  background-color: #a68051;
  border-radius: 10px;
  color: #f0f2f2;
  font-size: 1.2rem;
}

#login input::placeholder {
  padding-left: 10px;
}

#login input:first {
  margin: 10px;
  height: 200px;
}

#remember-check {
  width: 14px;
  height: 14px;
}

.welcome {
  padding: 20px 0;
}

.phonenum {
  padding-bottom: 30px;
}

h2 {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 10px;
}

p {
  padding: 5px 0 5px 4%;
}

label {
  padding: 20px 0;
}

.blackbutton {
  background-color: #252525 !important;
}

table,
th,
td {
  text-align: center;
}

table {
  padding-top: 20px;
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .contents {
    width: 90%;
  }

  #login {
    width: 70%;
    padding-top: 150px;
  }
}
