<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사문진 로그인</title>
    <link rel="stylesheet" href="/css/heaader.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/toggle.css" />
    <link rel="stylesheet" href="/css/signup.css" />

    <!-- 폰트어썸 CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  </head>

  <body>
    <!-- header -->
    <header>
      <section class="contents">
        <nav>
          <div class="logo">
            <a href="index.html">
              <img src="/images/main/logo.png" alt="logo" />
            </a>
          </div>
          <div class="nb">
            <ul class="gnb" th:if="${isLoggedIn}">
              <li><a href="/logout">Logout</a></li>
              <li><a href="/mypage">My page</a></li>
            </ul>
            <ul class="gnb" th:unless="${isLoggedIn}">
              <li><a href="/login">Login</a></li>
              <li>Sign up</li>
            </ul>
            <ul class="lnb">
              <li><a href="/about.html">소개</a></li>
              <li><a href="/facility.html">시설</a></li>
              <li><a href="/map.html">오시는 길</a></li>
              <li><a href="/reserve.html">예약</a></li>
              <li><a href="/gallery.html">갤러리</a></li>
              <li><a href="/community.html">커뮤니티</a></li>
            </ul>
          </div>
          <div class="toggle_btn">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </nav>
      </section>
      <div class="side">
        <a href="index.html"><i class="fa-solid fa-house"></i></a>
        <ul class="lnb">
          <li><a href="/about.html">소개</a></li>
          <li><a href="/facility.html">시설</a></li>
          <li><a href="/map.html">오시는 길</a></li>
          <li><a href="/reserve.html">예약</a></li>
          <li><a href="/gallery.html">갤러리</a></li>
          <li><a href="/community.html">커뮤니티</a></li>
        </ul>
        <ul class="gnb" th:if="${isLoggedIn}">
          <li><a href="/logout">Logout</a></li>
          <li><a href="/mypage">My page</a></li>
        </ul>
        <ul class="gnb" th:unless="${isLoggedIn}">
          <li><a href="/login">Login</a></li>
          <li>Sign up</li>
        </ul>
      </div>
    </header>

    <div id="background">
      <section id="login" class="contents">
        <div>
          <h1>회원가입</h1>
        </div>
        <form action="">
          <fieldset>
            <div class="bigBox">
              <div class="inputBox">
                <input
                  class="textBox"
                  type="text"
                  placeholder="아이디 (6~20자)"
                />
                <div class="idcheck">아이디중복확인</div>
                <input
                  class="textBox"
                  type="password"
                  placeholder="비밀번호 (문자, 숫자, 특수문자를 포함한 8~20자)"
                />
                <input
                  class="textBox"
                  type="password"
                  placeholder="비밀번호 확인"
                />
                <input class="textBox" type="text" placeholder="이름" />
                <input class="textBox" type="text" placeholder="연락처" />
              </div>
              <label for="remember-check">
                <input type="checkbox" id="remember-check" />
                개인정보 수집 및 정보이용에 동의합니다
              </label>
              <div class="buttonbox">
                <button class="blackbutton">메인으로</button>
                <button>가입하기</button>
              </div>
            </div>

            <div class="kakao"></div>
            <div class="naver"></div>
          </fieldset>
        </form>
      </section>
    </div>

    <!-- 푸터 -->
    <footer>
      <div id="footerBox" class="contents">
        <div class="footertextBox">
          <div>
            <span>사문진 소개</span><span>|</span> <span>이용안내</span
            ><span>|</span> <span>개인정보처리방침</span><span>|</span>
            <span>영상정보처리기기운영방침</span><span>|</span>
            <span>채용안내</span>
          </div>
          <div>
            <h4>(711839)대구광역시 달성군 화원읍 성산리 318-1</h4>
          </div>
          <div>
            <h4>COPYRIGHT © Collabo 4. ALL RIGHT RESERVED.</h4>
          </div>
        </div>
        <div class="footerlogo">
          <img src="/images/main/logo_black.png" alt="logo" />
        </div>
      </div>
    </footer>

    <script src="/js/toggle.js"></script>
  </body>
</html>
